<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Connection"
             connectionString="Data Source=SQL6031.site4now.net;Initial Catalog=db_aa5e2d_smartschool1;User Id=db_aa5e2d_smartschool1_admin;Password=yousef010039"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<!-- Include additional headers as necessary -->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>